<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LogginFilter</filter-name>
        <filter-class>par2019fe.filters.LogginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogginFilter</filter-name>
        <url-pattern>/Cabecera.jsp</url-pattern>
        <url-pattern>/Detalle.jsp</url-pattern>
        <url-pattern>/DetalleDos.jsp</url-pattern> 
        <url-pattern>/ServletConfirmacion</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>par2019fe.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>par2019fe.servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarServlet</servlet-name>
        <servlet-class>par2019fe.servlets.ValidarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>par2019fe.servlets.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>par2019fe.servlets.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>par2019fe.servlets.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>par2019fe.servlets.RegistrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfirmacion</servlet-name>
        <servlet-class>par2019fe.servlets.ServletConfirmacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/admin/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>par2019fe.servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/admin/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCarrito</servlet-name>
        <servlet-class>par2019fe.servlets.ServletCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCarrito</servlet-name>
        <url-pattern>/ServletCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarServlet</servlet-name>
        <url-pattern>/ValidarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfirmacion</servlet-name>
        <url-pattern>/ServletConfirmacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
